/*BASE STYLES */
/*VARIABLES */
/*Colour scheme */
/*Base Sytles */
/*Layout Styles */
/*Header */
.header-main-area {
  max-height: 200px;
  background-color: #005db9; }

.custom-logo {
  max-width: 50%;
  float: right; }

.site-branding {
  float: right; }

/* Navigation */
.hm-nav-container {
  padding-top: 10px; }

.main-navigation ul ul a {
  width: 250px; }

.main-navigation ul ul {
  background: #005db9; }

.responsive-mainnav.responsive-topnav {
  background: #005db9; }

/*MODULES */
/*Slider */
.hitmag-featured-slider {
  height: 474px; }