/*VARIABLES*/
    
/*Colour scheme*/
    
$nhsblack: #222222        
$nhsblue: #005db9
$nhsgreen: #74bb23
$nhspalegray: #E8EDEE
$nhsgray : #768692

$nhspaleblue: #37b4e5
$nhsyellow: #fddc00
$nhsdarkpink: #cf1646
$nhspurple: #7d2955
$nhsorange: #ef8a00

/* Fonts */

$fontlight : FrutigerLTStd-Light, Arial, sans-serif
$fontstandard : FrutigerLT-Roman, Arial, sans-serif